* {
    box-sizing: border-box;
}

.row {
    display: flex;
}


/* Create two equal columns that sits next to each other */

.column {
    flex: 45%;
    padding: 35px;
    margin-right: 20px;
    height: auto;
    width: 50%;
    /* Should be removed. Only for demonstration */
}